* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 4.6rem;
    background-color: var(--background);
    padding-block: 3.2rem;
}

.menu > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1170px;
    margin-inline: auto;
}

.menu__list {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 41rem;
    align-items: center;
    justify-content: space-between;
}

.sub__menu {
    display: none;
    width: 28rem;
    height: 36rem;
    position: absolute;
    left: 50%;
    bottom: -36.4rem;
    background-color: var(--greyWhite);
    border-radius: 1rem;
    transition: 0.5s all;
}

.sub__menu:hover {
    display: block;
}

.sub__child {
    position: absolute;
    width: 25rem;
    height: 22.5rem;
    left: 102%;
    top: 4rem;
    z-index: 999;
}

.sub__child:hover {
    display: block;
}
.sub__menu--item {
    width: calc(100% - 3rem);
}

.sub__menu--item:hover{
    background-color: #aaa4a4;
}

.sub__menu--item.home:hover .sub__child.home {
    display: block;
}

.sub__menu--item.about:hover .sub__child.about {
    display: block;
}
.sub__menu--item.project:hover .sub__child.project {
    display: block;
}

.sub__menu--item.blog:hover .sub__child.blog {
    display: block;
}

.sub__child--link {
    line-height: 3.4rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--textBlack);
}
.sub__menu > div {
    width: 100%;
    margin: 3rem 0 3rem 3rem;
}

.sub__menu--item {
    padding: 3px 0 3px 0;
}

.sub__menu--link {
    color: var(--textBlack);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.4rem;
}

.menu__item {
    padding-inline: 1.75rem;
}

.menu__list > .menu__item:nth-of-type(5) {
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding: 0 0 0 1.75rem;
}
.menu__list > .menu__item:first-child {
    padding: 1rem  1.75rem 1rem 0;
}

.menu__item > .icon {
    display: inline;
    font-size: 1.2rem;
    padding: 5px 4px;
    cursor: pointer;
}

.menu__item--link {
    position: relative;
    color: var(--textBlack);
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

.list__child {
    display: none;
    position: absolute;
    bottom: -23rem;
    left: 0;
    width: 25rem;
    height: 22rem;
    border-radius: 10px;
    background-color: var(--greyWhite);
    transition: all 0.25s;
}

.list__child > div {
    height: calc(100% - 30px);
    margin: 3rem 0 0 0;
}

.item__child {
    padding: 0 0 0 3rem;
    margin: 1.5rem 0;
}

.item__child--link {
    font-size: 2rem;
    color: var(--textBlack);
}

.line {
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 34px;
    height: 1px;
    background-color: #000;
    transition: all 0.25s;
}
.icon__down {
    cursor: pointer;
    font-size: 1.2rem;
}

.icon__down::after {
    content: "";
    position: absolute;
    right: -7rem;
    bottom: -2rem;
    width: 100px;
    height: 30px;
}

.icon__down:hover + ul.sub__menu{
    display: block;
}

.btn__action{
    border: none;
    padding: 13px 31px;
    border-radius: 29px;
    background: var(--textBlack);
}

.btn__action--link {
    color: var(--textWhite);
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

#main {
    padding-top: 173px;
    min-height: 100vh;
    background-color: var(--background);
}

#main > .title {
    width: 100%;
}

.main__title {
    color: var(--textBlack);
    font-size: 13.6rem;
    font-weight: 700;
    line-height: 14.2rem; 
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.description > .desc {
    width: 60.1rem;
    color: var(--Grey);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem; 
}

.btn__contact {
    display: flex;
    align-items: center;
    border: 1px solid var(--Grey);
    padding: 18px 40px;
    border-radius: 30px;
    gap: 10px
}

.btn__contact > .btn__link {
    color: var(--textBlack);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.block__imgage {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.block__imgage > .left {
    display: flex;
    align-items: center;
    gap: 20px;
}